* {
    font-family: Roboto, Verdana, sans-serif;
}

body {
    background-color: #FFBDBD;
}

.navbar {
    position: absolute;
}

.side-button {
    height: 2em;
    width: 15%;
    background-color: #FF7676;
    margin-left: 2%;
    font-size: 1.3em;
    text-align: center;
    padding: 0.3em;
    color: white;
    position: absolute;
}

#calendar {
    margin-top: 10%;
    
}

#shopping {
    margin-top: 25%;
}

#help {
    margin-top: 40%;

}

.main-box {
    position: relative;
    float: right;
    background-color: #FF7676;
    width: 65em;
    border: 1px black;
    margin-top: 5%;
    margin-right: 3%;
    padding: 2em;
}

.top-bar input[type=text] {
    margin-left: 15%;
    text-align: center;
    font-size: 1.5em;
}

.top-bar select {
    font-size: 1.5em;
}

.top-bar label {
    font-size: 1.5em;
}

.column {
    width: 24%;
    background-color: #FFBDBD;
    margin-top: 5%;
    padding: 2em;
    float: left;
    margin-left: 1em;
    margin-right: 1em;
}

.card {
    text-align: center;
}

.information {
    background-color: #C41230;
    color: white;
    padding: 1em;
}

.login-main {
    text-align: center; 
    margin-top: 5%;
}

.login-box {
    background-color: #FF7676;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    width: 25%;
    padding: 2em;
}

label {
    font-size: 1.5em;
    color: white;
    margin-right: 5em;
    
}

.login-box input[type=text] {
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    font-size: 1.2em;
    padding: 1em;
    color: #FF7676;
}

.submit-button {
    font-size: 1.5em;
    color: white;
    background-color: #C41230;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    padding: 0.7em;
}

.product-page {
    margin: 4em;
    background-color: #FF7676;
    padding: 2em;
    height: 40em;
}

.product-page h1 {
    text-align: center;
    color: white;
}

.product-page img {
    width: 35%;
    margin-top: 10em;
    margin-left: 4em;
}

.product-desc {
    float: right;
    margin-top: 3em;
    font-size: 1.2em;
    margin-right: 10em;
    padding: 2em;
}

.add-button {
    float: right;
    margin-top: 2em;
    margin-right: 10em;
    background-color: #C41230;
    color: white;
    padding: 1em;
}
